.matrix{
    width:600px;
    overflow:hidden;
}

.cell {
    width:128px;
    float:left;
    /* border-left:1px solid #ccc; */
    /* border-bottom:1px solid #ccc; */
    border-left:1px;
    border-bottom:1px;
    position:relative;
    bottom:-1px;
    padding:5px;
    left:-1px;
}
